<p-accordion [multiple]="true" [activeIndex]="[0]">
  <p-accordionTab header="1. Điểm du lịch nổi tiếng Hạ Long Quảng Ninh">
    <p>
      Địa điểm du lịch Hạ Long Quảng Ninh là một trong những điểm đến hấp dẫn
      bậc nhất nước ta. Với diện tích lên đến 1.553km2 bao gồm 1.900 hòn đảo đá
      vôi mang nhiều hình thù đẹp mắt, sinh động. Du lịch Hạ Long - 1 trong 7 kỳ
      quan thiên nhiên thế giới, du khách sẽ được khám phá nhiều hang động độc
      đáo, các hòn đảo tuyệt đẹp như đảo Mắt Rồng, Ngọc Vừng, hòn Con Cóc,...
      Cùng với cảnh đẹp, nơi đây còn có nhiều món đặc sản thơm ngon như chả mực,
      sá sùng, hàu nướng, chả rươi, sam biển,...
    </p>
    <p-divider></p-divider>
    <p>
      Vùng di sản trên vịnh Hạ Long được thế giới công nhận (vùng lõi) có diện
      tích 434 km², như một hình tam giác với ba đỉnh là đảo Đầu Gỗ (phía Tây),
      hồ Ba Hầm (phía Nam) và đảo Cống Tây (phía Đông), bao gồm 775 đảo với
      nhiều hang động, bãi tắm. Vùng kế bên (vùng đệm), là di tích danh thắng
      quốc gia đã được bộ Văn hóa Thông tin Việt Nam xếp hạng từ năm 1962. Địa
      hình Hạ Long là đảo, núi xen kẽ giữa các trũng biển, là vùng đất mặn có sú
      vẹt mọc và những đảo đá vôi vách đứng tạo nên những vẻ đẹp tương phản, kết
      hợp hài hòa, sinh động các yếu tố: đá, nước và bầu trời.
    </p>
    <p-divider></p-divider>
    <p>
      Các đảo ở vịnh Hạ Long có hai dạng là đảo đá vôi và đảo phiến thạch, tập
      trung ở hai vùng chính là vùng phía Đông Nam vịnh Bái Tử Long và vùng phía
      Tây Nam vịnh Hạ Long. Theo thống kê của ban quản lý vịnh Hạ Long, trong
      tổng số 1.969 đảo của vịnh Hạ Long có đến 1.921 đảo đá[24] với nhiều đảo
      có độ cao khoảng 200 m.[4] Đây là hình ảnh cổ xưa nhất của địa hình có
      tuổi kiến tạo địa chất từ 250-280 triệu năm về trước, là kết quả của quá
      trình vận động nâng lên, hạ xuống nhiều lần từ lục địa thành trũng biển.
      Quá trình carxtơ bào mòn, phong hóa gần như hoàn toàn tạo ra một vịnh Hạ
      Long độc nhất vô nhị,[24] với hàng ngàn đảo đá nhiều hình thù, dáng vẻ
      khác nhau lô nhô trên mặt biển, trong một diện tích không lớn của vùng
      vịnh.
    </p>
    <div class="image-container">
      <img
        src="https://toquoc.mediacdn.vn/thumb_w/640/2019/4/27/5-15563320112691932745434.jpg"
        alt=""
      />
      <p class="image-caption">
        <i>Vịnh Hạ Long - 1 trong 7 kỳ quan thiên nhiên thế giới</i>
      </p>
    </div>
  </p-accordionTab>
  <p-accordionTab header="2. Điểm du lịch Huế">
    <p>
      Địa điểm du lịch Huế mang vẻ đẹp trầm mặc, mộng mơ cùng nhiều giá trị văn
      hóa, lịch sử lâu đời. Đến đây, bạn sẽ được chiêm ngưỡng những công trình
      kiến trúc độc đáo của lăng tẩm, Đại Nội Huế; tham quan các địa điểm du
      lịch nổi tiếng như cầu Tràng Tiền, núi Ngự Bình, đồi Vọng Cảnh,...Đặc
      biệt, đừng bỏ lỡ cơ hội ngồi thuyền đi dạo sông Hương, thưởng trà, nghe
      nhã nhạc cung đình Huế. Và thưởng thức nhiều món ngon đặc sắc đến từ ẩm
      thực cung đình và ẩm thực dân gian xứ Huế như chè, bánh bột lọc, bún bò,
      cơm hến,...
    </p>
    <p-divider></p-divider>
    <p>
      Kinh thành Huế hay Thuận Hóa kinh thành là một tòa thành ở cố đô Huế, nơi
      đóng đô của triều đại nhà Nguyễn trong suốt 143 năm từ 1802 đến khi thoái
      vị vào năm 1945. Hiện nay, Kinh thành Huế là một trong số các di tích
      thuộc cụm Quần thể di tích Cố đô Huế được UNESCO công nhận là Di sản Văn
      hoá Thế giới.
    </p>
    <p-divider></p-divider>
    <p>
      Kinh thành Huế được vua Gia Long tiến hành khảo sát từ năm 1803, khởi công
      xây dựng từ 1805 và hoàn chỉnh vào năm 1832 dưới triều vua Minh Mạng. Hiện
      nay, Kinh thành Huế thuộc địa phận bốn phường Đông Ba, Tây Lộc, Thuận Hòa,
      Thuận Lộc của thành phố Huế, có ranh giới như sau: phía nam giáp đường
      Trần Hưng Đạo và đường Lê Duẩn; phía tây giáp đường Lê Huân; phía bắc giáp
      đường Đặng Thái Thân; phía đông giáp đường Đoàn Thị Điểm.
    </p>
    <div class="image-container">
      <img
        src="https://static.kinhtedothi.vn/w960/images/upload/2021/12/25/ahsdjkashdasd.png"
        alt=""
      />
      <p class="image-caption"><i>Cung Đình Huế về đêm</i></p>
    </div>
  </p-accordionTab>
  <p-accordionTab header="3. Địa điểm du lịch Đà Nẵng">
    <p>
      Trong hành trình khám phá miền Trung Việt Nam, bạn không thể nào bỏ qua
      địa điểm du lịch Đà Nẵng. Đây là thành phố của nhiều cây cầu đẹp như cầu
      sông Hàn, cầu Rồng, cầu Thuận Phước, cầu tình yêu; những bãi biển hoang
      sơ, thơ mộng như biển Mỹ Khê, biển Non Nước, biển Xuân Thiều,... cùng
      nhiều thắng cảnh đẹp khác như núi Ngũ Hành Sơn, bán đảo Sơn Trà, Ghềnh
      Bàng,... Không chỉ có cảnh đẹp, nơi đây còn níu chân du khách bởi nhiều
      món ngon Đà Nẵng hấp dẫn như bún mắm nêm, bê thui, mì Quảng, cơm gà,...
    </p>
    <p-divider></p-divider>
    <p>
      Trước đây, chúng ta thường biết đến du lịch Đà Nẵng với biểu tượng là cây
      cầu Rồng bắc qua sông Hàn với một đầu phun lửa và một đầu phun nước, hay
      cây cầu quay duy nhất tại Việt Nam. Nhưng giờ đây, mỗi khi nhớ đến mảnh
      đất Đà Thành, du khách còn nhớ đến một cây cầu mới - Cầu Vàng - một biểu
      tượng mới của du lịch Đà Nẵng.
    </p>
    <p-divider></p-divider>
    <p>
      Cầu Vàng Đà Nẵng là công trình nằm trong quần thể du lịch Sun World Bà Nà
      Hills Đà Nẵng. Cây cầu này tọa lạc ở vị trí lưng chừng núi và ở độ cao hơn
      1400m so với mực nước biển. Cầu Vàng gây “chấn động” không chỉ bởi vị trí
      độc đáo mà còn bởi thiết kế vô cùng ấn tượng.
    </p>
    <div class="image-container">
      <img
        src="https://toquoc.mediacdn.vn/thumb_w/640/2020/4/26/da-nang-15878865291212013802504.jpg"
        alt="Ảnh Đà Nẵng"
      />
      <p class="image-caption"><i>Cầu Vàng Đà Nẵng</i></p>
    </div>
  </p-accordionTab>
  <p-accordionTab
    header="4. Hội An - Địa điểm du lịch hút khách bậc nhất Việt Nam"
  >
    <p>
      Hội An là một trong những điểm đến hàng đầu của miền Trung với nhiều thắng
      cảnh đẹp cùng nền ẩm thực độc đáo. Du lịch Hội An, du khách có dịp chiêm
      ngưỡng những di sản kiến trúc độc đáo có từ hàng trăm năm trước như các
      ngôi nhà cổ, bảo tàng, chùa chiền,...Hội An còn là nơi hội tụ của nhiều
      điểm tham quan, vui chơi hấp dẫn như Cù Lao Chàm, biển Cửa Đại, thánh địa
      Mỹ Sơn, làng rau Trà Quế,... Ngoài cảnh đẹp, ẩm thực nơi đây cũng khiến
      nhiều du khách mê mẩn với những món ngon như cao lầu, mì Quảng, hoành
      thánh,...
    </p>
    <p-divider></p-divider>
    <p>
      Phố cổ Hội An là một đô thị cổ nằm ở hạ lưu sông Thu Bồn, thuộc vùng đồng
      bằng ven biển tỉnh Quảng Nam, Việt Nam, cách thành phố Đà Nẵng khoảng 30
      km về phía Nam. Nhờ những yếu tố địa lý và khí hậu thuận lợi, Hội An từng
      là một thương cảng quốc tế sầm uất, nơi gặp gỡ của những thuyền buôn Nhật
      Bản, Trung Quốc và phương Tây trong suốt thế kỷ XVII và XVIII. Trước thời
      kỳ này, nơi đây cũng từng có những dấu tích của thương cảng Chăm Pa hay
      được nhắc đến cùng con đường tơ lụa trên biển. Thế kỷ XIX, do giao thông
      đường thủy ở đây không còn thuận tiện, cảng thị Hội An dần suy thoái,
      nhường chỗ cho Đà Nẵng khi đó đang được người Pháp xây dựng. Hội An may
      mắn không bị tàn phá trong hai cuộc chiến tranh và tránh được quá trình đô
      thị hóa ồ ạt cuối thế kỷ 20. Bắt đầu từ thập niên 1980, những giá trị kiến
      trúc và văn hóa của phố cổ Hội An dần được giới học giả và cả du khách chú
      ý, khiến nơi đây trở thành một trong những điểm du lịch hấp dẫn của Việt
      Nam.
    </p>
    <p-divider></p-divider>
    <p>
      Đô thị cổ Hội An ngày nay là một điển hình đặc biệt về cảng thị truyền
      thống ở Đông Nam Á được bảo tồn nguyên vẹn và chu đáo. Phần lớn những ngôi
      nhà ở đây là những kiến trúc truyền thống có niên đại từ thế kỷ 17 đến thế
      kỷ 19, phân bố dọc theo những trục phố nhỏ hẹp. Nằm xen kẽ giữa các ngôi
      nhà phố, những công trình kiến trúc tôn giáo, tín ngưỡng minh chứng cho
      quá trình hình thành, phát triển và cả suy tàn của đô thị. Hội An cũng là
      vùng đất ghi nhiều dấu ấn của sự pha trộn, giao thoa văn hóa. Các hội
      quán, đền miếu mang dấu tích của người Hoa nằm bên những ngôi nhà phố
      truyền thống của người Việt và những ngôi nhà mang phong cách kiến trúc
      Pháp. Bên cạnh những giá trị văn hóa qua các công trình kiến trúc, Hội An
      còn lưu giữ một nền văn hóa phi vật thể đa dạng và phong phú. Cuộc sống
      thường nhật của cư dân phố cổ với những phong tục tập quán, sinh hoạt tín
      ngưỡng, nghệ thuật dân gian, lễ hội văn hóa vẫn đang được bảo tồn và phát
      triển. Hội An được xem như một bảo tàng sống về kiến trúc và lối sống đô
      thị.
    </p>
    <div class="image-container">
      <img
        src="https://images.baodantoc.vn/uploads/2021/Th%C3%A1ng%206/Ng%C3%A0y_30/H%C3%A0/travel_hoi_an-1624775443712.jpg"
        alt="Ảnh Đà Nẵng"
      />
      <p class="image-caption">
        <i>Hội An được UNESCO công nhận là Di sản văn hóa thế giới</i>
      </p>
    </div>
  </p-accordionTab>
</p-accordion>
