<div class="container">
  <app-sidenav></app-sidenav>
  <div class="flex-column">
    <h2>Homepage</h2>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
      imperdiet eget nisi scelerisque porta. Duis vitae interdum mauris,
      ultricies eleifend arcu. Mauris auctor a nisl eget volutpat. Donec
      fermentum elit vitae ligula dapibus, non auctor mi rutrum. Aenean justo
      enim, lacinia id sem vel, faucibus sollicitudin odio. Praesent euismod
      enim eu tincidunt tempus. Curabitur et ligula tincidunt lectus vulputate
      fringilla. Fusce vestibulum, ante ut pharetra eleifend, purus magna auctor
      augue, et lobortis nibh nisl ut lorem. Duis blandit diam eget arcu
      pulvinar euismod. Sed consequat lorem ligula, quis placerat tellus laoreet
      eu. Vivamus tortor massa, tempus eget nulla quis, pharetra scelerisque
      velit. Suspendisse sed leo ac elit interdum convallis. Vestibulum pharetra
      enim et felis faucibus euismod nec ac lacus.
    </p>
  </div>
</div>
