<div class="card">
  <p-splitter [style]="{ height: '300px' }" styleClass="mb-5">
    <ng-template pTemplate>
      <div class="col flex align-items-center justify-content-center">
        <img
          src="https://img.freepik.com/free-photo/isolated-happy-smiling-dog-white-background-portrait-4_1562-693.jpg?w=2000"
          alt="Bức ảnh Panel 1"
          style="max-width: 100%"
        />
      </div>
    </ng-template>
    <ng-template pTemplate>
      <div class="col flex align-items-center justify-content-center">
        <img
          src="https://img.freepik.com/premium-photo/golden-retriever-lying-panting-isolated-white_191971-16974.jpg"
          alt="Bức ảnh Panel 2"
          style="max-width: 100%"
        />
      </div>
    </ng-template>
  </p-splitter>
</div>
